<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

{% block user %}
    {% set loggedUsersEmail = logged_users_email() %}
    {% set default = 'not logged' %}
    <div class="top-right-corner" style="position: absolute; top: 10px; right: 5px;">
        Logged user: {{ loggedUsersEmail|default(default) }}
    </div>
    {% if loggedUsersEmail != (default) and loggedUsersEmail != null%}
        <div class="top-right-corner" style="position: absolute; top: 35px; right: 5px;">
            <button onclick="location.href = '/logout';">Logout</button>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
{% endblock %}
</body>
</html>
